<!DOCTYPE html>

{% load staticfiles %}

<html>
  <head>
    <meta charset="utf-8">
    <title>Jaiminho</title>
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
  </head>
  <body>

    {% block content %}{% endblock content %}

    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/jquery.maskedinput/dist/jquery.maskedinput.min.js' %}"></script>

    {% block extra_scripts %}{% endblock extra_scripts %}
  </body>
</html>